h3 {

font-size: 70;
font-family: monospace; 
}

body{
	background-color: green;
}

<head>

</head>
<body>

<ul>
  <li><a class="active" href="pages/isn't_this_cool.html">Assignments</a></li>
  
  
</ul>

</body>